html, body{
    color: white;
}

body{
    margin: 10%;
    margin-left: 31%;
    margin-right: 31%;
    background-color: hsl(222, 26%, 31%);
}

.selection{
    border-radius: 10px;
}

.display{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: hsl(224, 36%, 15%);
    text-align: end;
    font-size: 50px;
    font-weight: 600;
    border-radius: 10px;
}

.buttons{
    background-color: hsl(223, 31%, 20%);
    align-content: cen;
    text-align: center;
    border-radius: 10px;
}

.btn{
    color: hsl(221, 14%, 31%);
    max-width: 300px;
    width: 125px;
    margin: 25px;
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 5px hsl(28, 16%, 65%);
    border-radius: 10px;
    align-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    
}

.btn-primary{
    width: 300px;
    background-color: hsl(225, 21%, 49%);
    border: 0px;
    box-shadow: hsl(224, 28%, 35%);
    color: white;
}

.delete{
    width: 125px;
}

.btn-secondary{
    width: 300px;
    background-color: hsl(6, 63%, 50%);
    border: 0px;
    box-shadow: hsl(6, 70%, 34%);
    color: white;
}

.btn-secondary:hover{
    background-color: hsl(30, 25%, 89%);
    box-shadow: hsl(28, 16%, 65%);
}

.btn:hover{
    background-color: hsl(6, 63%, 50%);
    box-shadow: hsl(6, 70%, 34%);
}


